/* reset.css */

/* Quita los márgenes y el padding de todos los elementos */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Establece que todos los elementos de la página sean box-sizing: border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Elimina la decoración de los enlaces */
a {
    text-decoration: none;
}

/* Establece una línea base para las listas */
ol, ul {
    list-style: none;
}

/* Hace que los elementos principales ocupen el 100% del ancho */
html {
    line-height: 1;
}

/* Bloquea los elementos por defecto */
body {
    line-height: 1.5;
    text-size-adjust: 100%;
}

/* Estilo para tablas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
